 
<!DOCTYPE html>
<html  >
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a Body-Control</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}MisEstilos.css" />
	<link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}font-awesome.min.css"/>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.1.js"></script>
	
	

</head>


<body >        

	
	{% block content %} 




	{% endblock %}


	{% block body %}
	
	{% endblock body %}

	{% block script %}
	
	{% endblock script %}
</body>
</html>