 {% extends "base.html" %}

 {% block content %} 

 
{% include "menus/menu.html" %}
 
 {% endblock %}
 {% block body %}
  <div class="jumbotron">
<div class="panel panel-primary">
  <div class="panel-heading">Mis comidas</div>
  Agregar Comida:

  <span>
    <a style="color:gray"  href="{% url 'add_status' %} " ><img class="chica" src="{{ STATIC_URL }}images/add.png">
    
  </img></a> 
     
  </span>

  <div class="panel-body">

<table class="table table-hover">
 
   <thead>
      <tr>
      <th>Descripcion</th>
         <th>Calorias</th>
         <th> Comidas</th>
         <th>Modificar</th>
         <th> Eliminar</th>
      </tr>
   </thead>
   <tbody>
 
     {% for estado in estados %}
     <tr>
          <td> 
              {{estado.comida}}
         </td>
         <td>{{estado.total_calorias}}</td>
         <td> 
   <span><a style="color:gray" href="{% url 'foods' estado.id %}">(Ver)</a></span>
         </td>
       <td> 
   <span><a style="color:gray" href="{% url 'edit_status' estado.id %}">(Modificar)</a></span>
         </td>
       <td> 
   <span><a style="color:gray" href="{% url 'delete_status' estado.id %}">(Eliminar)</a></span>
         </td>
      </tr>
     {% endfor %}
      </tbody>
</table>

  </div>
  </div>
  </div>

 </div>

 
 
 {% endblock body %}

 
 {% block script %}
   
 {% endblock script %}