 

  {% extends "base.html" %}


 {% block content %} 

 

 
{% include "menus/menu.html" %}





 
 {% endblock %}


  
 {% block body %}


 





  <div class="jumbotron">
<table class="table">
   <caption>Mis comidas</caption>
   <thead>
      <tr>
 
         <th>Nombre</th>
         <th> Tipo</th>
         <th>Calorias</th>
         
      </tr>
   </thead>
   <tbody>









     {% for food in foods %}
     	

     <tr>
 
          <td> 
              {{food.nombre}}

         </td>
         <td>{{food.tipo}}</td>
         <td> 
 
{{food.calorias}}

         </td>
      </tr>
 
     {% endfor %}
  
   
      </tbody>

</table>
 </div>



 

 {% endblock body %}



{% block script %}
  <script type="text/javascript">
  
function mostrar()
{
document.getElementById("contenido").style.display = "block";

}
function agregarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}


function eliminarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}

function modificarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}

</script>
{% endblock script %}
  






 