 

  {% extends "base.html" %}


 {% block content %} 

 

 
{% include "menus/menu.html" %}





 
 {% endblock %}


  
 {% block body %}

  

  <div class="jumbotron">

<div class="panel panel-primary">
  <div class="panel-heading">Mis alimentos</div>

  Agregar Alimento:

  <span>
    <a style="color:gray"  href="{% url 'add_food' %} " ><img class="chica" src="{{ STATIC_URL }}images/add.png">
    
  </img></a> 
     
  </span>
  <div class="panel-body">


<table class="table table-hover">
 
   <thead>
      <tr>
 <th>Nombre</th>
         <th> Tipo</th>
         <th>Calorias</th>
         <th>Modificar</th>
         <th> Eliminar</th>
      </tr>
   </thead>
   <tbody>

 
     {% for food in foods %}
 
     <tr>
          <td> 
              {{food.nombre}}

         </td>
         <td>{{food.tipo}}</td>
         <td> 
 
{{food.calorias}}

         </td>
<td>
   <span><a style="color:gray" href="{% url 'edit_food' food.id %}">(Modificar)</a></span>
         </td>
       <td> 

   <span><a style="color:gray" href="{% url 'delete_food' food.id %}">(Eliminar)</a></span>
         </td>





      </tr>
 
     {% endfor %}
      </tbody>

 
</table>

  </div>
  </div>
  </div>

 </div>




 {% endblock body %}



{% block script %}
  <script type="text/javascript">
  
function mostrar()
{
document.getElementById("contenido").style.display = "block";

}
function agregarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}


function eliminarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}

function modificarComida(id){
   
  $.ajax({
                        url : '/load_datos', 
                        type : 'get',
                        data : {'id':id},

                       
                            success : function(data) {
                              alert("Se guardo el nuevo dia");
                               
                            },
                            failure : function(data){
                              alert('error!!');
                            }
                    });
}

</script>
{% endblock script %}
  






 